@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --smaller: .75;
}

.themeFont {
  font-family: 'Libre Baskerville', serif;
  font-size: 3vw;
  color: #777b6a;
  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.names {
  font-family: 'Parisienne', cursive;
  font-size: 12vw;
  color: #777b6a;
  @media (max-width: 768px) {
    font-size: 20vw;
  }
}

#map, #map2 {
  width: 35vw;
  height: auto;
  @media (max-width: 768px) {
    width: auto;
    height: 17vh;
  }
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.5em;
  text-transform: uppercase;
  color: #777b6a;
}

li span {
  display: block;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  li {
    font-size: calc(1.125rem * var(--smaller));
    width: 50px;
  }

  li span {
    font-size: calc(2.375rem * var(--smaller));
  }
}